html{
    background-color: #364646;
    background-image: none;
}
#board{
    background-color: #ffffff;
    margin-top: 150px;
}
.mainButtons.hover{
    background-color: #392394;
}
#Brush-btn{
    cursor:pointer;
}

label{
    background-color: #ffffff;
    border:1px solid #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    padding:1px;
}
