<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-08">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imaginator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" type="text/javascript">
     
    </script>
</head>
<body>
<div class = "mainButtons" >
  <button id="Brush-btn">Brush</button>
</div>
<canvas id = "board" height = "900" width = "1700"></canvas>
    
</body>
</html>