<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-08">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imaginator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" type="text/javascript">
     
    </script>
</head>
<body>
<div class = "systemButtons">
  <button id = "CheckedBoard">CheckedBoard</button>
  <button id = "Grid">Grid</button>
  <button id = "Select">Select</button>
  <button id = "Crop">Crop</button>
  <button id = "Clear-All">Clear All</button>
  <button id = "Fill-btn">Fill All</button>
  <button id = "Download-btn">Download</button>
  <button id = "Upload-btn">Upload</button>
  <button id="BlackBoard">BlackBoard</button>
</div>
<div class = "mainButtons" >
  <button id = "Pencil-btn">Pencil</button>
  <button id="Brush-btn">Brush</button>
  <button id = "Marker-btn">Marker</button>
  <button id="Eraser-btn">Eraser</button>
  <button id = "FillNotFull">FillNotFull</button>
</div>
<div class = "textButtons"></div>
  <button id = "Text-btn">Text</button>
  <input type="text" id="text" placeholder="text" onKeydown="drawText();"></input>
  <button id = "fontChange">Change</button>
  <input type ="text" id = "size" placeholder="font" onKeydown="updateFont();"></input>
  <button id = "sizeChange">Change</button>
  <input type = "text" id = "font" placeholder = "size" onKeydown = "updateSize();"></input>

</body>
  
</div>
<div class = "colorButtons">
  <button id = "Red-btn">Red</button>
  <button id = "Blue-btn">Blue</button>
  <button id = "Green-btn">Green</button>
  <button id = "Yellow-btn">Yellow</button>
  <button id = "Black-btn">Black</button>
  <button id = "White-btn">White</button>
  <button id = "Orange-btn">Orange</button>
  <button id = "Pink-btn">Pink</button>
  <button id = "Purple-btn">Purple</button>
  <button id = "Brown-btn">Brown</button>
  <button id = "Grey-btn">Grey</button>
  <button id = "LightBlue-btn">LightBlue</button>
  <button id = "Flesh-btn">Flesh</button>
  <button id = "CustomColor-btn">Custom</button>
  
</div>
<div class = "shapesButtons">
  <button id = "Line-btn">Line</button>
  <button id = "Rectangle-btn">Rectangle</button>
  <button id = "Circle-btn">Circle</button>
  <button id = "Triangle-btn">Triangle</button>
  <button id = "Square-btn">Square</button>
  <button id = "Tetragon-btn">Tetragon</button>
</div>
<div class = "extraInputs">
  <input name = "Thickness" id = "Thickness" value = "10">
  <label for = "Thickness">Thickness</label>
  <input name = "Opacity" id = "Opacity" value = "1">
  <label for = "Opacity">Opacity</label><br>
  <input type = "text" id = "mouseXinput" placeholder="Center X">
  <input type = "text" id = "mouseYinput" placeholder="Center Y"><br>
  <input type = "text" id = "sideInput" placeholder="length">
  <input type = "text" id = "sideInput2" placeholder="width"><br>
  <input type = "text" id = "rotationAngleInput" placeholder="angle">
  <input type = "text" id = "radiusInput" placeholder="radius"><br>
</div>
<canvas id = "board" height = "1000" width = "2500" onload="Checkedboard(checkers.jpg)"></canvas>
    
</body>
</html>